@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border border-box;
    font-family: 'Poppins';
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    font-weight: bold;
    color: white;
}
body{
    background-color: #1C2025;
    /* background-color: white; */
}
nav{
    position: relative;
    position: fixed;
    padding: 10px;
    background-color: #1C2025;
    /* background-color: rgba(255, 255, 255, 0.212); */
    width: 100%;
    color: black;
    height:80px;
    box-shadow: 0 0 4px black;
    display: flex;
    align-items: center;
   
}
ul{
    display: flex;
    align-items: center;
    gap: 2em;
}
a{
    color: #FFFFFF;
    /* color: rgb(11, 13, 17); */
    /* font-family: 'Josefin Sans'; */
    font-size: 21px;
    font-weight: 500;
}
nav ul{
    position: absolute;
    left: 3%;
}
nav input{
    border: none;
    position: absolute;
    border-radius: 5px;
    right: 22%;
    height: 30px;
    width: 300px;
    font-size: 20px;
    padding: 10px;
    border: 1.5px SOLID rgb(11, 13, 17);
    background-color: rgba(255, 255, 255, 0.5);
}
.profile_content{
    padding-right: 50px;
}
.name{
    font-size: 35px;
    color: black;
    background-color: yellow;
    margin: 10PX 0;
}
.descryption{
    color: white;
    font-size: 25px;
    margin-top: 15px;
}
.header{
    padding: 10px;
    font-size: 50px;
    text-align: left;
    color: white;
}
nav input:focus{
    outline: none;
}
nav .btn{
    position: absolute;
    right:5%;
    display: flex;
    align-items: center;
}
nav li:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
a{
    color: black;
}
span{
     color: black;
    }
}
button{
    width: 80px;
    border-radius: 5px;
    height: 40px;
    margin-left:20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
    font-weight: bold;
}
#sign-up{
    background-color: rgba(173, 43, 7, 0.919);
}
#login{
    background-color: rgba(6, 77, 165, 0.919);
}
nav button:hover{
    opacity: 0.8    ;
}
.MAIN{
    width: 100%;
    font-size: ;
    padding: 20px;
    color: #f0f0f2;
    display: flex;
    justify-content: space-between;
}
.MAIN div{
    height: 430px;
    width: 100%;
}
footer{
    display: flex;
    justify-content: space-around;
}
.links{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    overflow-y: hidden;
}
nav li{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
#search{
    position: absolute;
    right: 23.1%;
}
.profile p{
    font-weight: 300;
    font-size: 30px;
}
.profile img{
    z-index: -1;
    object-fit: cover;
    width: 400px;
    height: 90%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in;
}
.profile img:hover{
    filter: grayscale(0);
}
.skill-p1{
    margin-top: 50px;
    width: 100%;
   
}
header{
    margin-top: 100px;
}
footer{
    height: 400px;
    width: 100%;
    background-color: tomato;
}
.Experiances{
    font-size: 25px;
    width: 80%;
    text-wrap: wrap;
    margin: auto;
    margin-top:50px ;
}
.inner-bar{
    display: flex;
    height: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.bar{
    margin:20px auto;
    display: block;
    width: 80%;
    height: 20px;
    background-color: #f0f0f2;
    border-radius: 20px;
}
.skill-p1 p{
    font-size: 30px;
    margin-left: 150px;
}
@media screen and (max-width:800px) {
 .MAIN{
    flex-direction: column;
 }
 .profile_content{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 10px 0;
 }
 .one{
    display: none;
 }
 ul{
    width: 30%;
 }
 nav input{
    width: 100px;
    left: 40%;
 }
}